body{
    background-color: rgb(75, 75, 75);
    width: 900px;
    height: 700px;
    margin: 0 auto;
}
*{
    margin: 0; padding: 0; box-sizing: border-box; font-size: 1;
}
header{
    width:673px;
    height: 150px;
    
}

.caja{
    width: 224px;
    height: 150px;
    background-color: rgb(49, 49, 49);
    float: left;
    border: 1px solid rgb(255, 255, 255);
}

    
nav{
    width: 800px;
    /*background-color:rgb(130, 243, 205);*/
}
img{
    width: 100%;
    height: calc(100% - 0px);/*<-- Yo puse 60px porque más o menos es lo que mide la altura del título, pero tú coloca un número de pixeles que se ajuste*/
    object-fit: contain;
}
nav a{
    text-decoration: none;
    color: inherit;
    font-size: 12px;
}
nav li{
    display: inline-block;
    width: 13.6%;
    padding: 10px 30px;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(255, 255, 255);
    
}
a.url {
    color:rgb(255, 255, 255);
}



footer a{
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    color:rgb(255, 255, 255);
}
footer li{
    display: inline-block;
    width: 14.6%;
    padding: 10px 30px;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(255, 255, 255);
}
footer.ul {
    color:rgb(255, 255, 255);
}
main{
    width: 673px;
    height: 500px;
}
#sec1{
    width: 200px;
    height: 500px;
    background-color: transparent;
    float: left;
}
article.art{
    border: 1px solid rgb(255, 255, 255);
}
.art{
    width: 200px;
    height: 250px;
    background-color: rgb(49, 49, 49);
}
#sec2{
    width: 472px;
    height: 500px;
    background-color: rgb(136, 136, 136);
    float: left;
    border: 1px solid rgb(255, 255, 255);
}